@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .blinking-cursor:after {
        content: '|';

        animation: blink .8s step-start infinite
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
}

.bgImageBanner{
    background-image: url('../src/assets/banner.jpg');
}